@charset "utf-8";
/* CSS Document */

.text
	{
		font-family:'Lucida Grande',sans-serif;
		font-size:1em;
	}

body
	{
		color:#333333;
		font-family:'Lucida Grande',sans-serif;
		font-size:0.75em;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:1.5;
		text-align:center;
	}


h1
	{
		font-weight:bold;	
		font-size:1.75em;
		margin-top: 4px;
		padding-top:0px;
	}

a
	{
		color:#ff7700;
		margin:0pt;
		padding:0pt;
	}
a:hover
	{
		text-decoration:underline;
	}

#application 
	{
		width: 100%;
		height: 100%;
	}

#commands
	{
		width: 426px;
		float:left;
		margin-top:60px;
		text-align:center;
	}
	
#center
	{
		clear:both;
		width:100%;
	}

#main 
	{
		margin:0pt auto;
		padding:15px 0pt;
		text-align:left;
		width:760px;
	}
	
#content
	{
		padding:8px;
	}

#contentContent
	{
		float:left;
		margin-top:0px;
		margin-bottom: 10px;
		border: 1px solid #5caed7;
		background-color: #ebf5fa;
		width: 500px;
		height: 546px;
	}

#right
	{
		margin:0px;
		margin-bottom: 10px;
		float: right;
		border: 1px solid #ff9233;
		background-color: #fff1e4;
		width: 250px;
		height: 546px;
	}

#contentRight
	{
		padding:8px;
	}
	
#footer
	{
		clear:both;
		border: 1px solid #ff9233;
		background-color: #fff1e4;
		width: 100%;
	}

#footerContent
	{
		padding:8px;
	}
	
#status-field-char-counter
	{
		font-size:1.5em;
		color: rgb(204, 204, 204);
		float: left;
	}
	
#mywayd
	{
		width:440;
		border: 1px solid #5caed7;
		background-color:white;
		margin:15px;
		padding:10px;
	}
	
#waydinput
	{
	}
	
#waydrecent
	{
		clear: both;
		margin-top:10px;
	}
	
#profilephoto
	{
		float:right;
	}
	
#waydinput textarea
	{
		font-family:'Lucida Grande',sans-serif;
		font-size:1.15em;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		height:2.5em;
		line-height:1.1;
		overflow:hidden;
		padding:5px;
		width:478px;
	}

#right h3
	{
		font-size: 1.0em;
		border-bottom:1px solid #ff9233;
		margin-top: 6px;
		margin-bottom: 6px;
		padding-top: 0px;
	}
	
.wayd
	{
		clear:both;
		font-size:1.2em;
		line-height:1.1;
		border-bottom: 1px solid #5caed7;
		height: 60px;
		margin:2px;
	}
	
.userico
	{
		margin:4px;
		float:left;
	}
	
.logo
	{
		float:right;
	}
	
.error
	{
		color: red;
		font-size: 1em;
		padding:2px;
	}
	
.more
	{
		padding:4px;
		float:right;
	}

form
	{
		margin:0px;
		padding:0px;
	}
	
input.submit:hover, button:hover, input[type="submit"]:hover, input[type="file"], input[type="button"]:hover 
	{
		background:#ff9233 none repeat scroll 0%;
	}
input.submit, button, input[type="submit"], input[type="button"], input[type="file"], input[type="button"] 
	{
		background-color:#fff1e4;
		border:1px solid #ff9233;
		font-size:1em;
		padding:4px 8px;
	}

input[type="text"], input[type="password"], input[type="file"], select, checkbox 
	{
		border:1px solid #AAAAAA;
		margin-right:3px;
		padding:4px 2px;
	}
	
.pdfheader
	{
		border-bottom:1px solid #000000;
		text-align:left;
		font-size:0.75em;
	}
	
.pdffooter
	{
		border-top:1px solid #000000;
		text-align:right;
		font-size:0.75em;
	}
	
.x-tabs-strip-wrap
	{
		background-color:#ebf5fa;
	}
	
	